<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="font-family: sans-serif, arial;border-collapse:collapse;border:0;max-width:600px!important;margin:auto"
>
  <tbody>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="font-family: sans-serif, arial;border-collapse:collapse;max-width:600px!important; margin:auto; background: #ffffff; border: 1px solid #e7e7e7"
    >
      <tbody>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td style="text-align: center">
                    <div style="padding: 60px 0 50px">
                      <a href="https://tiki.vn">
                        <img
                          src="public/images//logo-email.png"
                          width="120px"
                        />
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>
                    <p
                      style="font-size: 18px;color: #1a1a1a;line-height: 25px;margin-bottom: 2px; margin-top:8px; padding-left: 50px;"
                    >
                      Chào
                      <span style="display: inline-block; color: #3393cf;"
                        >Anh Lê</span
                      >
                    </p>
                    <p
                      style="font-size: 13px; color: #1a1a1a; line-height: 20px ; padding: 0 50px;margin: 30px 0 40px;"
                    >
                      Cám ơn bạn đã mua phụ kiện ô tô tại AutoOnline. Bạn đã mua
                      <span style="color: #3393cf;">[3]</span> sản phẩm, phụ
                      kiện sẽ được chuẩn bị sẳn tại đại lý:
                      <b>Toyota Lý Thường Kiệt, Tân Bình</b>. Nhân viên của
                      AutoOnline của chúng tôi sẽ liên lạc lại với bạn để xác
                      nhận đơn hàng
                    </p>
                    <p style="text-align: center; margin: 0;">
                      <a
                        href="#"
                        style="background: #000000; color: #ffffff; font-size: 14px; text-decoration: none; font-weight: bold;
                        padding: 15px 20px; text-transform: uppercase; border-radius: 3px; display: inline-block;"
                        >Xem lại lịch sử đơn hàng</a
                      >
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 40px 50px">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              style="border: 1px solid #e7e7e7; border-radius: 3px; margin-top: 40px;"
            >
              <tbody>
                <tr>
                  <td style="padding: 20px; border-bottom: 1px solid #e7e7e7;">
                    <img
                      src="public/images//detail.png"
                      alt=""
                      width="100"
                      style="border-radius: 3px;"
                    />
                  </td>
                  <td
                    style="padding: 20px 0; border-bottom: 1px solid #e7e7e7;"
                  >
                    <div>
                      <p
                        style="font-size: 14px; font-weight: bold; margin-bottom: 10px; color: #1a1a1a;"
                      >
                        Màn hình DVD xe hơi chất lượng
                      </p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px;"
                      >
                        Số lượng: 2
                      </p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px;"
                      >
                        Thành tiền:
                      </p>
                    </div>
                  </td>
                  <td style="padding: 20px; border-bottom: 1px solid #e7e7e7;">
                    <div>
                      <p style="margin-bottom: 10px;">&nbsp;</p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px; text-align: right;"
                      >
                        23,900,000đ
                      </p>
                      <p
                        style="font-size: 14px; color: #1a1a1a; margin-bottom: 10px; text-align: right;"
                      >
                        45,800,000đ
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px; border-bottom: 1px solid #e7e7e7;">
                    <img
                      src="public/images//detail.png"
                      alt=""
                      width="100"
                      style="border-radius: 3px;"
                    />
                  </td>
                  <td
                    style="padding: 20px 0; border-bottom: 1px solid #e7e7e7;"
                  >
                    <div>
                      <p
                        style="font-size: 14px; font-weight: bold; margin-bottom: 10px; color: #1a1a1a;"
                      >
                        Màn hình DVD xe hơi chất lượng
                      </p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px;"
                      >
                        Số lượng: 2
                      </p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px;"
                      >
                        Thành tiền:
                      </p>
                    </div>
                  </td>
                  <td style="padding: 20px; border-bottom: 1px solid #e7e7e7;">
                    <div>
                      <p style="margin-bottom: 10px;">&nbsp;</p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px; text-align: right;"
                      >
                        23,900,000đ
                      </p>
                      <p
                        style="font-size: 14px; color: #1a1a1a; margin-bottom: 10px; text-align: right;"
                      >
                        45,800,000đ
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px; border-bottom: 1px solid #e7e7e7;">
                    <img
                      src="public/images//detail.png"
                      alt=""
                      width="100"
                      style="border-radius: 3px;"
                    />
                  </td>
                  <td
                    style="padding: 20px 0; border-bottom: 1px solid #e7e7e7;"
                  >
                    <div>
                      <p
                        style="font-size: 14px; font-weight: bold; margin-bottom: 10px; color: #1a1a1a;"
                      >
                        Màn hình DVD xe hơi chất lượng
                      </p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px;"
                      >
                        Số lượng: 2
                      </p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px;"
                      >
                        Thành tiền:
                      </p>
                    </div>
                  </td>
                  <td style="padding: 20px; border-bottom: 1px solid #e7e7e7;">
                    <div>
                      <p style="margin-bottom: 10px;">&nbsp;</p>
                      <p
                        style="font-size: 14px; color: #888888; margin-bottom: 10px; text-align: right;"
                      >
                        23,900,000đ
                      </p>
                      <p
                        style="font-size: 14px; color: #1a1a1a; margin-bottom: 10px; text-align: right;"
                      >
                        45,800,000đ
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px; background: #f6f6f6"><p style="font-size: 14px; color: #888888; margin: 0;">Tổng cộng:</p></td>
                  <td style="padding: 20px 0; background: #f6f6f6"><p>&nbsp;</p></td>
                  <td style="padding: 20px; background: #f6f6f6"><p style="font-size: 18px; font-weight: bold; color: #1a1a1a;">69,700,000đ</p></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 50px;">
            <div style=" margin-bottom: 30px;">
              <p style="font-size: 13px; color: #1a1a1a;">
                Trân trọng cám ơn! <br />
                <b>Ban biên tập AutoOnline</b>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="font-family: sans-serif, arial;border-collapse:collapse;border:0;max-width:600px!important;margin:auto; border: 1px solid #e7e7e7; border-top: 0;"
    >
      <tbody>
        <tr>
          <td>
            <div style="color: #888888; font-size: 12px; margin-left: 20px">
              Bản quyền thuộc về AutoOnline © 2018 <br />
              Hỗ trợ: hotro@autoonline.vn
            </div>
          </td>
          <td>
            <div style="margin: 25px 0">
              <span
                style="font-size: 12px; color: #888888; display: block; text-align: center; margin-bottom: 10px"
                >Kết nối với AutoOnline</span
              >
              <ul
                style="list-style: none; padding: 0; margin: 0; text-align: center;"
              >
                <li style="display: inline-block; margin-right: 5px;">
                  <a href="#">
                    <img src="public/images/fb-email.png" alt="" />
                  </a>
                </li>
                <li style="display: inline-block; margin-right: 5px;">
                  <a href="#">
                    <img src="public/images/youtube-email.png" alt="" />
                  </a>
                </li>
                <li style="display: inline-block; margin-right: 5px;">
                  <a href="#">
                    <img src="public/images/zalo-email.png" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </tbody>
</table>
