<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: sans-serif, arial;border-collapse:collapse;border:0;max-width:600px!important;margin:auto">
    <tbody>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: sans-serif, arial;border-collapse:collapse;max-width:600px!important; margin:auto; background: #ffffff; border: 1px solid #e7e7e7">
            <tbody>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="text-align: center">
                                        <div style="padding: 60px 0 50px">
                                            <a href="https://tiki.vn">
                                                <img src='public/images//logo-email.png'
                                                    width="120px" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">
                                        <p style="font-size: 18px;color: #1a1a1a;line-height: 25px;margin-bottom: 2px; margin-top:8px">
                                            Chào mừng <span style="display: inline-block; color: #3393cf;">Anh Lê</span> trở thành <br/>
                                            thành viên AutoOnline!
                                        </p>
                                        <p style="font-size: 13px; color: #1a1a1a; line-height: 20px ;text-align: center; width: 450px; margin: 30px auto 0; border-bottom: 1px solid #e5e5e5; padding-bottom: 45px;">
                                            Cám ơn bạn đã đăng ký tài khoàn tại AutoOnline - Chúng tôi luôn đồng hạnh với bạn trên mọi nẻo đường.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 30px 0px 50px 0px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <p style="font-size: 13px; color: #1a1a1a; line-height: 20px; text-align: center; margin-bottom: 25px;">
                                                Đăng ký thông tin xe hơi của bạn <br/> để chúng tôi có thể cùng bạn chăm sóc xế yêu thật tốt.
                                            </p>
                                            <p style="text-align: center; margin-bottom: 40px;">
                                                <img src="public/images/step-email.png" alt="">
                                            </p>
                                            <p style="text-align: center;">
                                                <a href="#" style="background: #000000; color: #ffffff; font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 15px 25px; border-radius: 4px; display: inline-block; text-align: center; text-decoration: none;">Đăng ký thông tin xe</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 50px;">
                        <div style=" margin-bottom: 30px;">
                            <p style="font-size: 13px; color: #1a1a1a;">
                                Trân trọng cám ơn! <br/>
                                <b>Ban biên tập AutoOnline</b>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: sans-serif, arial;border-collapse:collapse;border:0;max-width:600px!important;margin:auto; border: 1px solid #e7e7e7; border-top: 0;">
            <tbody>
                <tr>
                    <td>
                        <div style="color: #888888; font-size: 12px; margin-left: 20px">
                            Bản quyền thuộc về AutoOnline © 2018 <br/>
                            Hỗ trợ: hotro@autoonline.vn
                        </div>
                    </td>
                    <td>
                        <div style="margin: 25px 0">
                            <span style="font-size: 12px; color: #888888; display: block; text-align: center; margin-bottom: 10px">Kết nối với AutoOnline</span>
                            <ul style="list-style: none; padding: 0; margin: 0; text-align: center;">
                                <li style="display: inline-block; margin-right: 5px;">
                                    <a href="#">
                                        <img src="public/images/fb-email.png" alt="">
                                    </a>
                                </li>
                                <li style="display: inline-block; margin-right: 5px;">
                                    <a href="#">
                                        <img src="public/images/youtube-email.png" alt="">
                                    </a>
                                </li>
                                <li style="display: inline-block; margin-right: 5px;">
                                    <a href="#">
                                        <img src="public/images/zalo-email.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </tbody>
</table>