.account {
    margin-bottom: 100px;

    &__lists {
        border-bottom: 1px solid #e7e7e7;
        overflow-x: auto;
        white-space: nowrap;
        margin: 0 0 60px;
    }

    &__list {
        padding: 0 20px;
        margin-bottom: 30px;
        display: inline-block;
        width: 150px;
        overflow: hidden;

        a {
            display: block;
            text-align: center;
            color: $gray-1;
        }

        i {
            display: block;
            text-align: center;
            font-size: 70px;
        }
    }

    &__list--active {
        a {
            color: $black-1;
            font-family: $Roboto_Bold;
        }
    }

    &__form {
        .detail-comment__radios {
            justify-content: normal;
        }

        .detail-comment__radio {
            margin-right: 20px;
        }

        .category-content-top__select  {
            &:after {
                top: 15px;
            }

            select {
                padding: 15px;
            }
        }
    }

    &__input {
        width: 100%;
        padding: 15px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        font-family: $Roboto_Light;
        color: $black-1;
        margin-bottom: 20px;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $black-2;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $black-2;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $black-2;
        }
    }

    &__bottom {
        text-align: center;
    }

    &__btn {
        display: inline-block;
        background: $black-1;
        font-family: $Roboto_Bold;
        border-radius: 3px;
        padding: 15px 30px;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .account {
        &__lists {
            overflow: visible;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            white-space: unset;
        }

        &__list {
            width: 16.666%;
            overflow: visible;
            text-align: center;
        }

        &__form {
            width: 460px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1200px) {
    .account {
        &__list {
            width: 16.666%;

            a {
                i {
                    font-size: 80px;
                }

                &:hover {
                    color: $blue;
                }
            }
        }

        &__btn:hover {
            background: $blue;
        }
    }
}