.banner-search {
    &__sub-title {
        font-family: $Roboto_Light;
        color: $black-2;
        margin-top: 10px;
        font-size: 14px;
        font-weight: normal;
    }

    &__short-desc {
        display: none;
    }
}

.cart-process {
    display: none;
}

.cart-content {
    margin-bottom: 100px;

    &__lists {
        border: 1px solid #e7e7e7;
        border-radius: 3px 3px 0 0;
    }

    &__list {
        padding: 30px 20px;
        border-bottom: 1px solid #e7e7e7;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__img {
        display: inline-block;
        margin-bottom: 20px;
        
        img {
            border-radius: 3px;
        }
    }

    &__wrap-name {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__name {
        color: $black-2;
        font-size: 16px;
        margin-bottom: 20px;
        display: inline-block;
        width: 90%;
    }

    &__del {
        color: $gray-1;
        display: inline-block;
        font-size: 20px;

        &:hover {
            color: $blue;
        }
    }

    &__qty {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 20px;

        .detail-infor-quality__detail {
            margin-bottom: 0;
        }
    }

    &__real-prices {
        font-size: 16px;
        color: $gray-1;
        align-self: center;
    }

    &__total {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__total-text {
        display: inline-block;
        color: $gray-1;
    }

    &__total-prices {
        font-size: 16px;
        color: $black-2;
    }

    &__final-prices {
        background: #f6f6f6;
        padding: 15px 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border: 1px solid #e7e7e7;
        border-top: 0;
        align-items: center;
        margin-bottom: 35px;
    }

    &__final-prices-text {
        color: $gray-1;
        display: inline-block;
    }

    &__final-prices-price {
        font-family: $Roboto_Bold;
        font-size: 18px;
        display: inline-block;
        color: $black-2;
    }
}

.cart-buyer {
    margin-bottom: 60px;

    &__title {
        text-transform: uppercase;
        font-family: $SVN_Bold;
        color: $black-2;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    &__content {
        text-align: center;
    }

    &__text {
        display: block;
        text-align: center;
        color: $black-2;
        font-family: $Roboto_Light;
        margin-bottom: 20px;
    }

    &__link {
        background: $black;
        border-radius: 3px;
        color: $white;
        text-transform: uppercase;
        font-family: $Roboto_Bold;
        padding: 15px 20px;
        display: inline-block;
    }
}

.cart-infor-buyer {
    &__title {
        text-transform: uppercase;
        font-family: $SVN_Bold;
        color: $black-2;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    &__input {
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 11px 15px;
        font-family: $Roboto_Light;
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        color: $black-2;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $black-2;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $black-2;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $black-2;
        }
    }

    &__btn {
        background: $black;
        border-radius: 3px;
        color: $white;
        text-transform: uppercase;
        font-family: $Roboto_Bold;
        padding: 15px 20px;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;

        i {
            display: inline-block;
            margin-left: 5px;
        }
    }

    &__bottom {
        display: block;
        text-align: right;
    }
}

@media screen and (min-width: 768px) {
    .cart-process {
        display: block;
        margin-bottom: 60px;

        &__items {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        &__item {
            text-align: center;
            padding-right: 60px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                right: -45px;
                top: 35%;
                transform: translateY(-50%);
                width: 100%;
                height: 2px;
                background: #e5e5e5;
                z-index: 1;
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            a {
                display: inline-block;
                border: 1px solid #eaeaea;
                width: 40px;
                height: 40px;
                text-align: center;
                border-radius: 50%;
                margin-bottom: 10px;
                padding-top: 8px;
                background: $white;
                z-index: 2;
                position: relative;
            }
        }

        &__item--active {
            &:first-child {
                &:before {
                    display: none;
                }
            }

            &:nth-child(3) {
                &:before {
                    left: -95px;
                }
            }

            &:last-child {
                &:before {
                    width: 150px;
                    left: -105px;
                }
            }

            &:before {
                content: "";
                position: absolute;
                left: -90px;
                top: 35%;
                transform: translateY(-50%);
                width: 100%;
                height: 2px;
                z-index: 1; 
                background: $blue;
            }

            a {
                background: $blue;
                border-color: $blue;
            }

            .cart-process__num {
                color: $white;
            }

            .cart-process__text {
                color: $blue
            }
        }

        &__num {
            color: $gray-1;
            font-size: 21px;
            font-family: $Roboto_Light;
            display: inline-block;
        }

        &__text {
            display: block;
            color: $black-2;
            font-size: 13px;
            text-align: center;
        }
    }

    .cart-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 -10px 120px;

        &-left {
            width: 60%;
            padding: 0 10px;
        }

        &-right {
            width: 40%;
            padding: 0 10px;
        }
    }

}

@media screen and (min-width: 1200px) {
    .cart-content {
        &-right {
            padding-left: 20px;
        }

        &__list {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 30px 20px 25px;
        }

        &__img {
            width: 33%;
            margin-bottom: 0;
        }

        &__content {
            width: 66%;
            padding-left: 20px;
        }

        &__name {
            max-width: 80%;

            &:hover {
                color: $blue;
            }
        }
    }

    .cart-buyer__link:hover,
    .cart-infor-buyer__btn:hover {
        background: $blue;
    }
}