.banner-search {
    background: #f4f4f4 url(../../public/images/partten.png) repeat-x;
    height: 250px;
    padding: 30px 0;
    &__title {
        color: $black;
        font-family: $SVN_Reg;
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: normal;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__input {
        border: 1px solid #e5e5e5;
        background: $white;
        padding: 15px 20px;
        color: $black-2;
        font-family: $Roboto_Light;
        font-size: 14px;
        width: 100%;
        border-radius: 3px;
        margin-bottom: 15px;
    }
    &__select {
        border: 1px solid #e5e5e5;
        background: $white;
        border-radius: 3px;
        width: 48%;
        position: relative;
        &:after {
            content: "\e92f";
            font-family: "icomoon";
            position: absolute;
            right: 15px;
            top: 15px;
            pointer-events: none;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
            border: none;
            display: inline-block;
            outline: none;
            width: 100%;
            padding: 15px;
            color: $black-2;
            font-family: $Roboto_Light;
            font-size: 13px;
        }
    }
    &__btn {
        color: $white;
        background: $black;
        text-transform: uppercase;
        font-family: $Roboto_Bold;
        font-size: 14px;
        border-radius: 3px;
        padding: 15px 0;
        width: 48%;
    }
}

.breadcrumbs {
    margin: 30px 0;
    &__items {
        display: flex;
        flex-wrap: nowrap;
    }
    &__item {
        margin: 0 5px;
        .icon-home-solid {
            display: inline-block;
            margin-right: 3px;
        }
        a {
            color: $gray-1;
            display: inline-block;
            font-family: $Roboto_Ita;
            font-size: 13px;
            &:after {
                content: "\e933";
                display: inline-block;
                font-family: 'icomoon';
                color: $gray-1;
                margin-left: 5px;
                vertical-align: middle;
            }
        }
        span {
            color: $black;
            font-size: 13px;
            font-family: $Roboto_Reg;
            display: inline-block;
        }
    }
}

.category {
    margin-bottom: 40px;
}

.category-content-top {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__item {
        width: 48%;
        margin-bottom: 20px;
        align-self: center;
    }
    &__text {
        display: inline-block;
        color: $black;
        font-family: $Roboto_Reg;
        font-size: 14px;
        b {
            font-family: $Roboto_Bold;
        }
    }
    &__select {
        border: 1px solid #e5e5e5;
        background: $white;
        border-radius: 3px;
        width: 100%;
        position: relative;
        &:after {
            content: "\e92f";
            font-family: "icomoon";
            position: absolute;
            right: 15px;
            top: 15px;
            pointer-events: none;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
            border: none;
            display: inline-block;
            outline: none;
            width: 100%;
            padding: 15px;
            color: $black-2;
            font-family: $Roboto_Light;
            font-size: 13px;
        }
    }
}

.category-filter {
    position: fixed;
    background: #ffffff;
    width: 280px;
    left: 0;
    top: 0;
    height: 100%;
    padding: 25px 0 0 25px;
    z-index: 4;
    overflow-y: auto;
    opacity: 0;
    transform: translate(-100%, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-right: 1px solid #e0e0e0;
    &.active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &__overlay {
        &.active {
            position: fixed;
            z-index: 3;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &__text {
        position: fixed;
        background: $white;
        padding: 15px 0;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        text-align: center;
        box-shadow: 0 -3px 2px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        font-family: $Roboto_Reg;
        font-size: 14px;

        i {
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.category-filter-part {
    margin-bottom: 50px;
    &__item {
        margin-bottom: 20px;
        label {
            color: $black-2;
            font-size: 13px;
            font-family: $Roboto_Reg;
            color: $gray-1;
        }
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
        }
        [type="checkbox"]:not(:checked)+label,
        [type="checkbox"]:checked+label {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
        }
        [type="checkbox"]:checked+label {
            color: $black;
        }
        /* checkbox aspect */
        [type="checkbox"]:not(:checked)+label:before,
        [type="checkbox"]:checked+label:before {
            content: '\f096';
            font-family: "FontAwesome";
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 14px;
            transition: all .2s;
        }
        [type="checkbox"]:checked+label:before {
            content: '\f046';
        }
    }
    &__text {
        text-transform: uppercase;
        font-size: 14px;
        font-family: $SVN_Bold;
        color: $black;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin: 0 25px 15px 0;
    }
    &__subs {
        margin: 15px 0 0 30px;
    }
    &__sub {
        margin-bottom: 15px;
    }
    &__cars {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7px;
    }
    &__car {
        padding: 0 7px 7px;

        a {
            font-size: 18px;
        }
    }
}

.paginations {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.pagination {
    border: 1px solid #e5e5e5;
    text-align: center;
    text-align: center;
    margin: 0 5px;
    border-radius: 3px;
    &:last-child {
        a {
            &:before {
                content: "\e933";
                font-family: 'icomoon';
                display: inline-block;
            }
        }
    }
    &.active {
        background: $blue;
        
        a {
            color: $white;
        }
    }
    a {
        display: inline-block;
        color: $black-1;
        font-size: 14px;
        font-family: $Roboto_Light;
        padding: 14px 17px;
    }

    &:hover {
        background: $blue;
        a {
            color: $white;
        }
    }
}

@media screen and (min-width: 768px) {
    .banner-search {
        &__title {
            max-width: 400px;
            margin: 0 auto 30px;
            line-height: 1.2;
        }
        &__input {
            width: 49%;
            margin-bottom: 0;
        }
        &__select {
            width: 49%;
        }
        &__btn {
            margin: 15px auto 0;
        }
    }
    .category {
        &-inner {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &-content {
            width: 72%;
        }
        .new-option__items {
            margin: 0 -10px;
        }
        .new-option__item {
            width: 33.333%;

            &:nth-child(n+3) {
                .new-option__inner {
                   border-bottom: 1px solid #dedede;
                }
            }
        }
    }
    .category-content-top {
        &__items {
            margin: 0 -10px;
        }
        &__item {
            &:first-child {
                width: 100%
            }
            width: 33.33%;
            padding: 0 10px;
        }
    }
    .category-filter {
        opacity: 1;
        transform: translate(0, 0);
        position: static;
        width: 25%;
        padding: 0;
        &__text,
        &__overlay {
            display: none;
        }
    }
    .category-filter-part {
        &__text {
            margin-right: 20px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .breadcrumbs {
        &__item {
            a:hover {
                color: $blue;
            }
        }
    }
    .banner-search {
        &__title {
            font-size: 25px;
            max-width: 450px;
        }
        &__form {
            max-width: 820px;
            margin: 0 auto;
        }
        &__input {
            width: 420px;
        }
        &__select {
            width: 220px;
        }
        &__btn {
            width: 160px;
            margin: 0;
            padding: 0 5px;
            cursor: pointer;
            transition-duration: .2s;
            &:hover {
                background: $blue;
            }
        }
    }
    .category-filter {
        width: 20%;
    }
    .category-content {
        width: 78.5%;
    }
    .category-content-top {
        &__item {
            width: 25%;
            &:first-child {
                width: 25%;
            }
        }
    }
    .category-content-products {
        .new-option__item {
            width: 25%;

            &:nth-child(n+4) {
                .new-option__inner {
                   border-bottom: none;
                }
            }
        }
    }
}