.checkout-steps {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #e5e5e5;
    margin-bottom: 60px;
    
    &__item {
        background: #f6f6f6;
        border-right: 1px solid #e5e5e5;
        padding: 20px 10px;
        width: 33.33%;

        &:last-child {
            border-right: 0;
        }
    }

    &__name {
        font-family: $SVN_Bold;
        text-transform: uppercase;
        display: block;
        color: $black-2;
        text-align: center;
        font-size: 13px;
    }

    &__text {
        display: none;
    }

    &__item--active {
        background: $white;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $white;
            z-index: 2;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -11px;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-top: 11px solid #e5e5e5;
            z-index: 1;
        }
    }
}

.checkout-content {
    margin-bottom: 80px;

    &-left {
        margin-bottom: 40px;
    }

    &__link-back {
        color: $black-2;
        text-transform: uppercase;
        font-family: $Roboto_Bold;
        border: 1px solid #b2b2b2;
        border-radius: 3px;
        padding: 15px 0;
        width: 165px;
        text-align: center;
        background: $white;
        display: inline-block;
        margin-right: 15px;
    }

    &__link-next {
        color: $white;
        text-transform: uppercase;
        font-family: $Roboto_Bold;
        border: 1px solid $black-2;
        border-radius: 3px;
        padding: 15px 0;
        width: 165px;
        text-align: center;
        background: $black-2;
        display: inline-block;

        i {
            display: inline-block;
            margin-left: 5px;
        }
    }
}

.checkout-payment {
    &__name {
        font-size: 16px;
        color: $black-2;
        display: block;
        margin-bottom: 5px;
    }

    &__text {
        font-family: $Roboto_Light;
        color: $black-2;
        font-size: 13px;
        display: block;
    }

    &__content {
        margin-top: 30px;
    }

    &__item {
        margin-bottom: 45px;
    }

    &__cod {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    &__cod--error {
        .checkout-payment__cod-logo {
            border-color: $red;
        }
    }

    &__cod-logo {
        display: flex;
        font-size: 18px;
        font-family: $SVN_Reg;
        color: $gray-1;
        border: 1px solid #e7e7e7;
        background: #f6f6f6;
        text-align: center;
        width: 100px;
        height: 75px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 3px;
        align-items: center;
        justify-content: center;
    }

    &__cod-text {
        display: inline-block;
        color: $black-1;
        margin-left: 20px;
        align-self: center;
    }

    &__onlines {
        display: flex;
        flex-wrap: nowrap;
    }

    &__online {
        border: 1px dashed #ccc;
        padding: 15px;
        margin-right: 20px;
        border-radius: 3px;
    }

    &__note {
        font-size: 14px;
        color: #888;
        font-family: $Roboto_Reg;
        margin: 40px 0 40px;

        a {
            display: inline-block;
            color: #3392cf;
        }
    }
}

.checkout-cart {
    border: 1px solid #e7e7e7;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 20px;

    &__title {
        font-family: $SVN_Bold;
        color: $black-2;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 15px;
    }

    &__prices {
        width: 100%;
        display: block;
        color: $black-2;
        font-size: 13px;
        margin-top: 20px;
        padding-left: 30px;
    }

    &__img {
        width: 30%;

        img {
            border-radius: 3px;
        }
    }

    &__name {
        width: 70%;
        padding-left: 20px;
    }

    &__real-name {
        font-size: 13px;
        color: $black-2;
        display: inline-block;
        width: 80%;
        vertical-align: top;
    }

    &__qty {
        font-family: $Roboto_Medium;
        font-size: 13px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
    }

    &__total {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__total-text {
        display: inline-block;
        color: $black-2;
    }

    &__total-prices {
        font-family: $Roboto_Bold;
        color: $black-2;
        display: inline-block;
    }
}

.checkout-address {
    border: 1px solid #e7e7e7;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 20px;

    &__top {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__change {
        display: inline-block;
        color: $gray-1;
        font-size: 13px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 8px 15px;
        text-transform: uppercase;
    }

    &__title {
        display: inline-block;
        font-family: $SVN_Bold;
        color: $black-2;
        text-transform: uppercase;
        width: 70%;
    }

    &__item {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: nowrap;
    }

    &__text {
        color: $gray-1;
        display: inline-block;
        width: 90px;
    }

    &__content {
        display: inline-block;
        color: $black-2;
    }

}

@media screen and (min-width: 768px) {
    .checkout-steps {
        &__inner {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        &__img {
            width: 53px;
            margin-right: 20px;
        }

        &__content {
            width: 80%;
        }

        &__name {
            text-align: left;
        }

        &__text {
            display: block;
            font-family: $Roboto_Light;
            font-size: 13px;
            color: $black-2;
            margin-top: 5px;
        }
    }

    .checkout-content {
        &__link {
            text-align: right;
        }
    }

    .checkout-cart {
        &__prices {
            width: auto;
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        &__name {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1200px) {
    .checkout-steps {
        &__item {
            padding: 20px 30px;
            
            &:hover {
                background: #f0f7fe;
            }
        }
    }

    .checkout-content {
        margin: 0 -10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        &-left {
            width: 60%;
            padding: 0 10px;
        }

        &-right {
            width: 40%;
            padding: 0 10px 0 20px;
        }

        &__link-back:hover {
            background: $black-2;
            color: $white;
            border-color: $black-2;
        }

        &__link-next:hover {
            background: $white;
            color: $black-2;
            border-color: #b2b2b2;
        }
    }

    .checkout-payment {
        &__items {
            margin-bottom: 20px;
        }

        &__item {
            &:last-child {
                margin-bottom: 0;
            }

            .partner__items {
                margin-bottom: 0;
                padding: 0;
            }
        }
    }

    .checkout-cart {
        padding: 25px;

        &__real-name {
            width: 70%;
            padding-right: 20px;

            &:hover {
                color: $blue;
            }
        }

        &__img {
            width: 100px;
        }
        
        &__name {
            width: calc(100% - 100px);
        }
    }

    .checkout-address {
        padding: 25px;

        &__change:hover {
            color: $blue;
            border-color: $blue;
        }
    }
}