.collection-banner {
    margin: 0 0 20px;

    &__items {
        margin: 20px 0 0;

        .slick-slide{
            width: 80px;
        }

        .slick-arrow {
            position: absolute;
            top: 0;
            z-index: 2;
            width: 80px;
            background: rgba(0, 0, 0, .8);
            border-radius: 3px;
            border: none;
            height: 60px;

        }
    
        .slick-prev {
            left: 0;

            &:before {
                content: "";
                background: url('../../public/images/arr.svg') no-repeat;
                width: 15px;
                height: 20px;
                display: inline-block;
            }
        }
    
        .slick-next {
            right: 15px;

            &:before {
                content: "";
                background: url('../../public/images/arr.svg') no-repeat;
                width: 15px;
                height: 20px;
                display: inline-block;
                transform: rotate(180deg);
            }
        }
    }

    &__item {
        margin: 0 10px;
        border-radius: 3px;
        text-align: center;
    }

    &__img {
        border-radius: 3px;
    }

    &__name {
        display: inline-block;
        font-size: 13px;
        color: $black-2;
        margin-top: 10px;
    }
}

.collection-content {
    &__title {
        font-family: $SVN_Bold;
        font-size: 16px;
        color: $black-2;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__number {
        display: inline-block;
        color: $white;
        width: 40px;
        height: 40px;
        background: $blue-2;
        border-radius: 50%;
        font-size: 20px;
        text-align: center;
        margin-right: 13px;
        padding-top: 7px;
    }

    &__desc {
        font-family: $Roboto_Light;
        letter-spacing: 1px;
        color: $black-2;
        margin-bottom: 20px;
    }

    &__img-title {
        color: $gray-1;
        font-size: 13px;
        font-family: $Roboto_Ita;
        margin: 15px 0 20px;
        text-align: center;
    }

    &__options {
        background: #f6f6f6;
        padding: 40px 0 30px;
        margin: 0 -10px 30px;
    }

    &__detail {
        padding: 25px 10px 0;
    }

    &__name {
        font-size: 16px;
        color: $black-2;
        display: block;
        margin-bottom: 10px;
    }

    &__short-desc {
        font-size: 13px;
        color: $gray-1;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    &__prices {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__discount-price {
        font-size: 16px;
        color: $black-2;
        text-transform: uppercase;
        display: inline-block;
    }

    &__real-price {
        font-family: $Roboto_Light;
        font-size: 13px;
        color: $gray-1;
    }

    &__percent {
        font-size: 13px;
        display: inline-block;
        color: $red;
        margin-left: 20px;
    }

    &__add-to-cart {
        display: block;
        border: 1px solid $black-2;
        font-size: 14px;
        font-family: $Roboto_Bold;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        border-radius: 3px;
        color: $black-2;

        i {
            display: inline-block;
            margin-right: 5px;
            font-size: 16px;
            vertical-align: middle;
        }
    }

    &__inner {
        margin-bottom: 30px;
    }

    &__buy-all {
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #e5e5e5;
    }

    &__buy-all-text {
        color: $black-2;
        text-align: center;
        margin-bottom: 15px;
    }

    &__buy-all-link {
        display: block;
        border: 1px solid $black-2;
        font-size: 14px;
        font-family: $Roboto_Bold;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        border-radius: 3px;
        color: $white;
        background: $black-2;

        i {
            color: $white;
            display: inline-block;
            margin-right: 5px;
            font-size: 16px;
            vertical-align: middle;
        }
    }

    &__right {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .collection-banner {
        &__items {
            .slick-slide {
                width: 170px;
            }

            .slick-arrow {
                width: 170px;
                height: 130px;
                padding: 0;

                &:before {
                    width: 30px;
                    height: 35px;
                }
            }

            .slick-next {
                width: 160px;
                right: 0;
            }
        }

        &__name {
            font-size: 14px;
        }
    }

    .collection-content {
        &__options {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__option-img {
            width: 40%;
            margin-right: 20px;
        }

        &__prices {
            justify-content: unset;
        }

        &__discount-price {
            margin-right: 60px;
            font-size: 15px;
        }

        &__real-price {
            font-size: 13px;
        }

        &__percent {
            margin-left: 10px;
        }

        &__add-to-cart {
            display: inline-block;
            padding: 15px 25px;
        }

        &__buy-all-link {
            display: inline-block;
            padding: 15px 25px;
        }
    }
}

@media only screen and (min-width:1200px) {
    .collection-banner {
        margin-bottom: 50px;

        &__items {
            .slick-slide {
                width: 222px;
            }

            .slick-arrow {
                width: 222px;
                height: 166px;
            }

            .slick-next {
                width: 212px;
            }
        }
    }

    .collection-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        &__left {
            width: 70%;
            padding-right: 20px;
        }

        &__right {
            width: 30%;
            display: block;
        }

        &__options {
            margin: 0 0 30px;
            padding: 20px;
        }

        &__add-to-cart:hover {
            border-color: $blue;
            color: $blue;
        }

        &__detail {
            padding: 0;
        }

        &__buy-all-link:hover {
            background: $white;
            color: $black-2;

            i {
                color: $black-2;
            }
        }
    }

    .collection-content-collection {
        &__title {
            text-align: center;
            font-size: 16px;
            font-family: $SVN_Bold;
            text-transform: uppercase;
            color: $black-2;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        &__item {
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #e5e5e5e5;

            &:last-child {
                border: none;
                margin: 0;
                padding: 0;
            }
        }

        &__img {
            display: inline-block;
            border-radius: 3px;
            margin-bottom: 15px;
        }

        &__name {
            font-size: 16px;
            display: inline-block;
            color: $black-2;
            margin-bottom: 10px;

            &:hover {
                color: $blue;
            }
        }

        &__person {
            color: $gray-1;
            font-size: 13px;
            margin-bottom: 15px;
        }

        &__desc {
            color: $gray-1;
            letter-spacing: 1px;
        }
    }

    .banner-search--collection {
        height: 250px;

        .banner-search__title {
            max-width: 700px;
        }

        .banner-search__short-desc {
            display: block;
            font-weight: normal;
            font-size: 14px;
            margin-top: 35px;
            letter-spacing: 1px;
        }
    }
}