.detail-slide {
    margin-bottom: 25px;

    &__mains {
        margin-bottom: 20px;
    }

    &__subs {
        margin: 0 -5px;
        position: relative;

        .slick-arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            width: calc(25% - 5px);
            border-radius: 2px;
            border: 0;
            z-index: 2;
            outline: none;
            padding: 0;
            font-size: 20px;
            color: $white;
        }

        .slick-prev { 
            left: 5px;

            &:before {
                content: "\e932";
                font-family: "icomoon";
            }
        }

        .slick-next {
            right: 0;

            &:before {
                content: "\e933";
                font-family: "icomoon";
            }
        }
    }

    &__sub {
        padding: 0 5px;
    }
}

.detail-infor {
    &__title {
        font-size: 26px;
        color: $black;
        font-family: $SVN_Reg;
        margin-bottom: 15px;
    }

    &__brands {
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }

    &__brand {
        margin-bottom: 10px;
        color: $black;
        font-family: $Roboto_Reg;
        font-size: 13px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__brand-name {
        color: $blue;
    }

    &__sku {
        color: $gray-1;
    }

    &__short-details {
        margin: 20px 0 0;
        padding-bottom: 20px;
        border-bottom: 1px dashed #e1e0e0; 
    }

    &__short-detail {
        margin-bottom: 10px;
        color: $black;
        font-size: 13px;
        font-family: $Roboto_Reg;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__prices {
        padding: 15px 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px dashed #e1e0e0;
        margin-bottom: 20px;
    }

    &__discount-prices {
        font-family: $Roboto_Reg;
        font-size: 22px;
        color: #3392cf;
    }

    &__real-prices {
        color: $gray-1;
        font-family: $Roboto_Light;
        font-size: 18px;
        display: inline-block;
        margin-right: 5px;
    }

    &__precent {
        color: $red;
        font-family: $Roboto_Reg;
        font-size: 18px;
    }

    &__buyed {
        color: $gray-1;
        font-family: $Roboto_Reg;
        font-size: 13px;
        margin-bottom: 20px;

        b {
            font-family: $Roboto_Bold;
            color: $black;
        }
    }

    &__actions {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    &__action {
        border-right: 1px solid #dbdbdb;
        padding-right: 15px;
        margin: 0 15px 15px 0;

        &:last-child {
            border-right: 0;
        }

        a {
            color: $gray-1;
            display: inline-block;
            font-size: 13px;
            font-family: $Roboto_Reg;
            padding: 10px 0;

            i {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }

    &__policy {
        color: $blue;
        font-size: $Roboto_Reg;
        font-size: 13px;
        display: block;
        text-align: center;
    }
}

.detail-infor-quality {
    border-bottom: 1px dashed #e1e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &__detail {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 15px;
    }

    &__text {
        align-self: center;
        font-size: 13px;
        font-family: $Roboto_Reg;
        color: $black-2;
        display: inline-block;
        margin-right: 10px;
    }

    &__row {
        position: relative;
    }

    &__input {
        width: 70px;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        padding: 10px 20px;
        border-radius: 2px;
        font-family: $Roboto_Light;
        font-size: 16px;
        color: $black-2;
    }

    &__up,
    &__down {
        border: 1px solid #e5e5e5;
        border-radius: 0 2px 0 0;
        border-bottom: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        font-family: $Roboto_Bold;
        font-size: 14px;
        color: #b9b9b9;
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        outline: none;
        cursor: pointer;
    }

    &__down {
        border-radius: 0 0 2px 0;
        top: 20px;
    }

    &__btn {
        display: block;
        background: $black;
        color: $white;
        text-transform: uppercase;
        font-family: $Roboto_Bold;
        font-size: 14px;
        border-radius: 2px;
        padding: 15px 0;
        text-align: center;
    }
}

.detail-content {
    margin-bottom: 30px;
}

.detail-services {
    margin: 30px 0;
}

.detail-service {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    color: $gray-1;
    font-family: $Roboto_Reg;
    font-size: 13px;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 15px;

    &:last-child {
        border-bottom: none;
    }

    span {
        display: inline-block;
        width: 75%;
        margin-left: 20px;
    }

}

.detail-options {
    background: #f6f6f6;
    padding: 20px 15px;
    margin-bottom: 30px;

    &__title {
        text-transform: uppercase;
        font-family: $SVN_Bold;
        font-size: 16px;
        color: $black-2;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 15px;
        display: flex;
        color: $black-2;
        font-size: 13px;
        font-family: $Roboto_Reg;
    }
    
    &__text {
        display: inline-block;
        width: 100px;
        margin-right: 20px;
        color: $black-2;
        font-size: 13px;
        font-family: $Roboto_Reg;
    }

    &__name {
        color: $blue;
    }


    &__colors {
        display: flex;
        justify-content: space-around;
    }

    &__color {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.detail-desc {
    padding: 0 15px 0;
    margin-bottom: 30px;

    &__title {
        font-family: $SVN_Bold;
        font-size: 16px;
        color: $black-2;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    p, li {
        color: $black-2;
        font-size: 14px;
        font-family: $Roboto_Light;
        margin: 10px 0;
        line-height: normal;
    }
}

.detail-comment {
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;

    &__title {
        text-transform: uppercase;
        font-family: $SVN_Bold;
        font-size: 16px;
        color: $black-2;
        margin-bottom: 20px;
    }

    &__login {
        p {
            font-size: 13px;
            color: $black-2;
            font-family: $Roboto_Reg;
            margin-bottom: 30px;
        }
    }

    &__link {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__login-link {
        background: $black;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $Roboto_Bold;
        width: 49%;
        border-radius: 2px;
        padding: 15px 0;
        text-align: center;
        display: inline-block;
    }

    &__register-link {
        background: $white;
        color: $black;
        font-size: 14px;
        font-family: $Roboto_Bold;
        border: 1px solid #b2b2b2;
        border-radius: 2px;
        padding: 15px 0;
        width: 49%;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
    }

    &__radios {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__radio {
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: $black-1;
            font-family: $Roboto_Reg;
            font-size: 13px;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
            height: 15px;
            border: 1px solid $black-1;
            border-radius: 100%;
            background: $white;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 5px;
            height: 5px;
            background: $black-1;
            position: absolute;
            top: 6px;
            left: 6px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__textarea {
        background: #f6f6f6;
        border-radius: 3px;
        width: 100%;
        box-shadow: inset 0 0 10px $gray-1;
        border: none;
        margin-bottom: 10px;
    }

    &__btn {
        background: $black;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $Roboto_Bold;
        padding: 15px 25px;
        border-radius: 3px;
        display: inline-block;
    }

    &__content {
        font-size: 13px;
        font-family: $Roboto_Reg;
        color: $black-2;
        margin-bottom: 20px;
    }

    &__times {
        border-bottom: 1px dashed #e1e0e0;
        padding-bottom: 20px;
    }

    &__post-times {
        color: $gray-1;
        font-family: $Roboto_Ita;
        font-size: 13px;
        margin-bottom: 10px;
    }

    &__actions {
        display: flex;
        flex-wrap: nowrap;
    }

    &__action {
        margin-right: 10px;
    }

    &__like {
        color: $black-1;
        font-size: 13px;
        font-family: $Roboto_Reg;
        display: inline-block;
        margin-right: 25px;

        i {
            display: inline-block;
            margin-right: 5px;
            color: #a5a5a5;
        }
    }

    &__like--liked {
        i {
            color: $blue;
        }
    }

    &__comments {
        color: $black-1;
        font-size: 13px;
        font-family: $Roboto_Reg;

        i {
            display: inline-block;
            margin-right: 5px;
            color: #a5a5a5;
        }
    }

    &__sub-lists {
        margin: 30px 0 0 50px;

        .detail-comment__radios {
            flex-wrap: wrap;
        }

        .detail-comment-user__infors {
            width: 70%;
        }

        .detail-comment__radio {
            margin-bottom: 10px;
        }
    }

    &__new-post {
        margin-top: 20px;
    }
}

.detail-comment-user {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;

    &__ava {
        width: 70px;
        height: 70px;
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }

    &__infors {
        align-self: center;
    }

    &__name {
        font-size: 14px;
        font-family: $Roboto_Bold;
        color: $black-2;
        display: inline-block;
        margin-bottom: 10px;
    }

    &__details {
        display: flex;
        flex-wrap: nowrap;
    }

    &__detail {
        color: $gray-1;
        font-size: 13px;
        font-family: $Roboto_Reg;
        margin-right: 20px;

        i {
            font-size: 18px;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle
        }
    }
}

.detail-left {
    display: none;
}

@media screen and (min-width: 768px) {
    .detail-left {
        display: block;
        padding: 0 10px;
        width: 34%;
    }

    .detail-content {
        padding: 0 10px;
        width: 66%;
    }

    .detail-inner {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 -10px;
    }

    .detail-slide {
        &__sub,
        &__main {
            img {
                width: 100%;
            }
        }
    }

    .detail-options {
        &__text {
            width: 180px;
        }
    }

    .detail-infor-quality {
        display: flex;
        flex-wrap: nowrap;

        &__detail {
            margin: 0 20px 0 0;
        }

        &__btn {
            padding: 13px 30px;
        }
    }

    .detail-comment {
        &__radios {
            justify-content: normal;
        }

        &__radio {
            margin-right: 20px;
        }

        &__times {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    .detail-collection {
        background: #e9eef3;
        padding: 25px 10px;
        margin-bottom: 30px;

        &__title {
            font-size: 16px;
            font-family: $SVN_Bold;
            color: $black-2;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
        }

        &__name {
            font-size: 14px;
            font-family: $Roboto_Bold;
            text-align: center;
            display: block;
            margin: 20px 0;
            color: $black-2;
        }

        &__img {
            display: inline-block;
            
            img {
                border-radius: 3px;
            }
        }

        &__arrow {
            font-size: 30px;
            color: #b4daf2;
            display: block;
            text-align: center;
        }
    }

    .detail-same-collection {
        &__title {
            font-size: 16px;
            font-family: $SVN_Bold;
            text-transform: uppercase;
            color: $black-2;
            text-align: center;
            padding-bottom: 15px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 25px;
        }

        .new-option__item {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .detail-left {
        width: 30%;
    }

    .detail-content {
        padding: 0 10px;
        width: 70%;
    }

    .detail-infor-quality__btn:hover {
        background: $blue;
    }

    .detail-main-infor {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 -10px;
    }

    .detail-slide {
        width: 57%;
        padding: 0 10px;
    }

    .detail-infor {
        width: 43%;
        padding: 0 10px;

        &__brands {
            display: flex;
            flex-wrap: nowrap;
        }

        &__brand {
            margin-right: 20px;
        }
        
        &__action {
            a {
                padding: 5px 0;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .detail-services {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 0 20px;
    }

    .detail-service {
        padding: 0 40px;
        border-right: 1px solid #dbdbdb;
        margin: 0;
        border-bottom: none;

        &:last-child {
            border-right: 0;
        }
    }

    .detail-desc {
        p {
            margin-bottom: 20px;
        }
    }

    .detail-comment {
        &__link {
            justify-content: center;
        }

        &__login-link,
        &__register-link {
            width: 145px;
            margin-right: 10px;
        }

        &__login-link {
            border: 1px solid $black;

            &:hover {
                background: transparent;
                border-color: $black;
                color: $black;
            }
        }

        &__register-link {
            &:hover {
                background: $black;
                border-color: $black;
                color: $white;
            }
        }

        &__btn {
            cursor: pointer;

            &:hover {
                background: $blue;
            }
        }
    }

    .detail-collection {
        padding: 25px 20px;

        &__name {
            width: 70%;
            display: block;
            margin: 20px auto;

            &:hover {
                color: $blue;
            }
        }
    }
}