@font-face {
	font-family: 'SVN-Bold-Ita';
    src: url('../fonts/SVN-Product Sans Bold Italic.ttf') format('truetype'),
         url('../fonts/SVN-Product Sans Bold Italic.otf') format('embedded-opentype');
}

@font-face {
	font-family: 'SVN-Bold';
    src: url('../fonts/SVN-Product Sans Bold.ttf') format('truetype'),
         url('../fonts/SVN-Product Sans Bold.otf') format('embedded-opentype');
}

@font-face {
	font-family: 'SVN-Ita';
    src: url('../fonts/SVN-Product Sans Italic.ttf') format('truetype'),
         url('../fonts/SVN-Product Sans Italic.otf') format('embedded-opentype');
}

@font-face {
	font-family: 'SVN-Reg';
    src: url('../fonts/SVN-Product Sans Regular.ttf') format('truetype'),
         url('../fonts/SVN-Product Sans Regular.otf') format('embedded-opentype');
}

@font-face {
	font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Black-Ita';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Bold-Ita';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Ita';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Light-Ita';
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Medium-Ita';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Reg';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-Thin-Ita';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype'),
}