.footer {
    background: #181818;
    padding: 30px 0;

    &__logo {
        text-align: center;
        margin-bottom: 30px;

        a {
            display: block;

            img {
                margin: 0 auto;
            }
        }
    }

    &__logo-desc {
        padding-right: 20px;
        margin-top: 20px;

        p {
            font-size: 13px;
            font-family: $Roboto_Reg;
            color: $gray-1;
            text-align: left;
            margin-bottom: 5px;
        }
    }

    &__copyright {
        color: $gray-1;
        text-align: center;
        font-size: 13px;
        font-family: $SVN_Reg;
        margin-top: 20px;
    }
}

.footer-menus {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 48%;
        margin-bottom: 20px;

        span {
            color: $white;
            font-family: $SVN_Reg;
            font-size: 14px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 15px;
        }
    }

    &__sub {
        margin-bottom: 10px;

        a {
            color: #888888;
            font-size: 13px;
            font-family: $Roboto_Reg;
            display: inline-block;
        }
    }
}

.footer-connect-social {
    text-align: center;

    &__text {
        font-size: 14px;
        font-family: $SVN_Reg;
        color: $gray-1;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    &__items {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__item {
        margin: 0 5px;
        border: 1px solid $white;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;

        a {
            color: $white;
            font-size: 20px;
            padding-top: 8px;
            display: inline-block;
        }

        &:last-child {
            a {
                padding-top: 13px;
            }
        }
    }

    &__safe {
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px) {
    .footer-inner {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__logo {
        width: 25%;
    }

    .footer-menus {
        width: 75%;

        &__item {
            width: 25%;
            padding-right: 20px;
        }
    }

    .footer-connect {
        width: 100%;
    }
}

@media only screen and (min-width:1200px) {
    .footer {
        padding: 65px 0 50px;
        
        &__logo {
            width: 20%;

            a {
                img {
                    margin: 0;
                }
            }
        }

        &__copyright {
            text-align: left;
        }
    }

    .footer-inner {
        justify-content: space-between;
    }

    .footer-menus {
        width: 60%;

        a:hover {
            color: $white;
        }

        &__item {
            span {
                margin-bottom: 30px;
            }
        }

        &__sub {
            margin-bottom: 15px;
        }
    }

    .footer-connect {
        width: 20%;
    }

    .footer-connect-social {
        &__items {
            margin-bottom: 30px;
        }
    }
    
}