.banner-search--not-form {
    position: relative;
    height: 150px;

    .banner-search__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

.introduc-main {
    margin-bottom: 80px;
}

.introdu-left {
    margin-bottom: 40px;

    &__title {
        font-family: $SVN-Bold;
        font-size: 14px;
        color: $black-2;
        text-transform: uppercase;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 20px;

        a {
            display: inline-block;
            color: $gray-1;
            display: inline-block;

            &:hover {
                color: $black-2;
            }
        }
    }

    &__item--active {
        a {
            color: $black-2;
        }
    }
}

.introdu-right {
    &__content {
        p {
            margin-bottom: 20px;
            font-size: 14px;
            font-family: $Roboto_Light;
            color: $black-2;
        }
    }
}

@media screen and (min-width: 768px) {
    .introdu-main {
        &__inner {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    .introdu-left {
        width: 32%;
        margin-right: 20px;
    }

    .introdu-right {
        width: 66%;
    }
}

@media screen and (min-width: 1200px) {
    .introdu-main {
        margin: 70px 0 160px;

        &__inner {
            width: 940px;
            margin: 0 auto;
        }
    }

    .introdu-left {
        width: 30%;
        margin-right: 40px;
    }
}