body {
    font-size: 14px;
    font-family: $Roboto_Reg;
    line-height: normal;
    color: $black-2;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menus,
    &__hotline {
        display: none;
    }



    &__accounts {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    &__account {
        margin: 0 5px;
        position: relative;
        align-self: center;

        &:nth-child(2) {
            display: none;
        }

        &:first-child {
            span {
                display: none;
            }

            color: $black;
            font-size: 22px;
        }

        &:last-child {
            a {
                display: inline-block;
                color: $black;
                font-size: 22px;
                position: relative;
            }
        }
    }

    &__account-number {
        display: inline-block;
        font-size: 10px;
        font-family: $SVN_Reg;
        color: $white;
        padding: 2px 6px;
        border-radius: 50%;
        background: $red;
        position: absolute;
        top: -5px;
        right: -11px;
    }

    &__logo {
        position: relative;
        left: 50px;

        img {
            width: 136px;
        }
    }
}

.header {
    position: relative;
    padding: 15px 0;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.1);

    &__hambuger {
        position: absolute;
        left: 12px;
        top: 20px;
        font-family: $Roboto_Reg;
        color: $black;
        font-size: 22px;
    }
}

.header-inner-sub-account {
    position: absolute;
    left: -250px;
    bottom: -407px;
    background: $white;
    width: 300px;
    box-shadow: 0px 2px 10px $gray-1;
    z-index: 2;
    border: 1px solid $gray-1;
    display: none;

    &.active {
        display: block;
    }
    
    &:before {
        content: "";
        position: absolute;
        left: 87%;
        top: -9px;
        transform: translateX(-50%);
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;
        z-index: 2;
    }

    &:after {
        content: "";
        position: absolute;
        left: 87%;
        top: -11px;
        transform: translateX(-50%);
        width: 0; 
        height: 0; 
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid $gray-1;
        z-index: 1;
    }

    &__tops {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 -10px;
    }

    &__top {
        margin-bottom: 20px;
        width: 25%;
        text-align: center;
        padding: 0 10px;

        a {
            font-size: 13px;
            color: $gray-1;
            display: inline-block;
        }

        i {
            display: block;
            text-align: center;
            font-size: 50px;
        }
    }

    &__partners {
        background: #e9eef3;
        padding: 10px;
    }

    &__partners-title {
        font-size: 13px;
        color: $black-1;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: block;
        text-align: center;
    }

    &__partners-items {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 -10px;
    }

    &__partners-item {
        width: 25%;
        padding: 0 10px;
        text-align: center;

        a {
            display: inline-block;
            font-size: 13px;
            color: $black-1;
        }

        i {
            display: block;
            text-align: center;
            font-size: 50px;
        }
    }
}

.main-menus {
    padding: 20px 0 0 20px;
}

.main-menu {
    display: block;
    margin-bottom: 27px;

    a {
        display: inline-block;
        text-transform: uppercase;
        color: $black;
        font-family: $SVN_Reg    
    }
}

.main-menus__subs {
    margin: 25px 0 0 25px;
}

.main-menus__sub {
    margin-bottom: 20px;
}

.left-bar {
    position: fixed;
    background: $white;
    width: 280px;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 70px;
    z-index: 4;
    overflow-y: auto;
    opacity: 0;
    transform: translate(-100%,0);
    transition-duration: 0.3s;
    border-right: 1px solid #e0e0e0;
    &.active {
        transform: translate(0,0);
        opacity: 1;
    }

    &__overlay {
        &.active {
            position: fixed;
            z-index: 3;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0,0,0,0.8);
        }
    }
}

.left-bar-search {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 15px;
    position: relative;

    &__input {
        width: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        color: #1a1a1a;
        padding: 10px 35px 10px 15px;
        font-family: $Roboto_Light;
        font-size: 14px;
    }

    &__button {
        position: absolute;
        right: 20px;
        top: 25px;
        color: #1a1a1a;
        font-size: 22px;
        background: transparent;
        border: none;
    }
}

.left-bar-social {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;

    &__items {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 25px;
        justify-content: center;
    }

    &__item {
        margin: 0 3px;

        a {
            display: inline-block;
            color: #6f6f6f;
            font-size: 16px;
            width: 40px;
            height: 40px;
            border: 1px solid #6f6f6f;
            border-radius: 50%;
            padding-top: 10px;
            text-align: center;
        }

        &:last-child {
            a {
                img {
                    display: inline-block;
                }
            }
        }
    }

    &__note {
        font-family: $Roboto_Reg;
        font-size: 13px;
        color: #6f6f6f;
    }
}

.header-login {
    background: $white;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    z-index: 2;
    width: 90%;
    display: none;
    z-index: 4;

    &__content {
        display: none;
    }

    &__content--active {
        display: block;
    }

    &.active {
        display: block;   
    }

    &__tabs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__tab {
        width: 50%;
        background: #f6f6f6;
        color: $gray-1;
        font-size: 14px;
        font-family: $SVN_Reg;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #e5e5e5;
        padding: 15px 0;
        position: relative;
        cursor: pointer;

        &:first-child {
            border-right: 1px solid #e5e5e5;
        }
    }

    &__tab--active {
        background: $white;
        color: $black;
        font-family: $SVN_Bold;
        
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $white;
            z-index: 2;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -11px;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-top: 11px solid #e5e5e5;
            z-index: 1;
        }
    }

    &__content {
        padding: 20px;
    }

    &__text {
        font-size: 14px;
        font-family: $Roboto_Reg;
        color: $black-2;
        margin-bottom: 20px;
        display: inline-block;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__item {
        width: 40%;
        margin-bottom: 10px;
        border-radius: 3px;
        text-align: center;
        margin-right: 10px;

        a {
            padding: 10px 0;
            display: block;
            font-family: $Roboto_Bold;
            font-size: 13px;
            text-transform: uppercase;
        }
    }

    &__item--fb {
        border: 1px solid #4267b2;

        a {
            color: #4267b2;
        }
    }

    &__item--gg {
        border: 1px solid #ea4335;

        a {
            color: #ea4335;
        }
    }

    &__item--zl {
        border: 1px solid #028ee6;

        a {
            color: #028ee6;
        }
    }

    &__form {
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 10px 15px;
        font-size: 14px;
        font-family: $Roboto_Light;
        color: $gray-1;
        margin-bottom: 10px;
    }

    &__btn {
        background: $black;
        color: $white;
        font-family: $Roboto_Bold;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 3px;
        padding: 10px 30px;
        border: none;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }

    &__note {
        font-size: 13px;
        color: $gray-1;
        font-family: $Roboto_Reg;

        a {
            display: inline-block;
            color: $blue;
        }
    }

    &__forgot-pass {
        display: inline-block;
        color: $blue;
        font-size: 13px;
        margin-bottom: 10px;
    }

    &__overlay {
        &.active {
            position: fixed;
            z-index: 3;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0,0,0,0.8);
        }
    }

    &__close {
        position: absolute;
        right: 0;
        top: -40px;
        background: $white;
        display: inline-block;
        color: $gray-1;
        padding: 5px 10px;
    }
}

@media screen and (min-width: 768px) {
    .header-login {
        width: 540px;
        top: 5%;

        &__item {
            width: 32%;
        }

        &__items {
            flex-wrap: nowrap;
        }

        &__content {
            padding: 40px 40px 20px;
        }

        &__input {
            margin-bottom: 20px;
        }

        &__forgot-pass {
            margin-bottom: 30px;
        }

        &__close {
            top: 0;
            z-index: 2;
            background: $gray-1;
            color: $white;
        }

        &__btn {
            &:hover {
                background: $blue;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .header {
        padding: 0;

        &__hambuger {
            top: 25px;
            left: 25px;
        }
    }

    .header-inner {
        align-items: stretch;

        &__logo {
            align-self: center;
            left: auto;
        }

        &__menus {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-self: center;
            margin-left: 130px;
        }

        &__menu {
            padding: 15px;
            border-right: 1px solid #e5e5e5;

            &:last-child {
                border-right: 0;
            }

            a {
                display: inline-block;
                font-family: $SVN_Reg;
                color: $black;
                font-size: 14px;
                text-transform: uppercase;

                &:hover {
                    color: $blue;
                }
            }
        }

        &__hotline {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-self: center;

            span {
                font-family: $SVN_Reg;
                font-size: 10px;
                color: $black;
                display: block;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                margin-bottom: 2px;
            }
        }

        &__phone-number {
            font-size: 14px !important;
            color: $blue !important;
            display: block;
        }

        &__accounts {
            background: $gray;
        }

        &__account {
            padding: 15px 17px;
            cursor: pointer;

            &:first-child,
            &:nth-child(2) {
                text-align: center;
                display: inline-block;

                span {
                    display: block;
                    color: $black;
                    font-family: $Roboto_Reg;
                    font-size: 13px;
                    margin-top: 3px;
                }
            }

            &:nth-child(2) {
                font-size: 22px;
            }

            &:last-child {
                padding-top: 8px;
            }
        }
    }

    .main-menu {
        a:hover {
            color: $blue;
        }
    }

    .header-inner-sub-account {
        left: -100px;
        bottom: -451px;
        border: 0;
        width: 360px;

        &:before,
        &:after {
            left: 40%;
        }

        &:after {
            border-bottom: 11px solid #ccc;
        }

        &__tops {
            padding: 30px;
        }

        &__top {
            &:nth-child(5),
            &:last-child {
                margin-bottom: 0;
            }

            a:hover {
                color: $blue;

                i {
                    color: $blue;
                }
            }
        }

        &__partners {
            padding: 30px;
            margin: 0;
        }

        &__partners-item {
            a:hover {
                color: $blue;

                i {
                    color: $blue;
                }
            }
        }
    }

    .header-login {
        top: 75px;

        &__item--fb:hover {
            background: #4267b2;
            
            a {
                color: $white;
            }
        }
    
        &__item--gg:hover {
            background: #ea4335;
    
            a {
                color: $white;
            }
        }
    
        &__item--zl:hover {
            background: #028ee6;
    
            a {
                color: $white;
            }
        }
    }
}