.main-banner {
    position: relative;
    margin-bottom: 35px;

    &__item {
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            font-family: $Roboto_Reg;
            font-size: 25px;
            display: none;
        }

        a {
            display: none;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    .slick-prev {
        left: 20px;

        &:before {
            content: "";
            background: url('../../public/images/arr.svg') no-repeat;
            width: 25px;
            height: 35px;
            display: inline-block;
        }
    }

    .slick-next {
        right: 20px;

        &:before {
            content: "";
            background: url('../../public/images/arr.svg') no-repeat;
            width: 25px;
            height: 35px;
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        li {
            text-indent: -9999px;
            background: #acacac;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;

            &.slick-active {
                background: $white;
            }
        }
    }

    &__link {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        background: $black;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: $white;
        padding-top: 9px;

        img {
            width: 8px;
            display: inline-block;
            transform: rotate(-90deg);
        }
    }
}

.partner {
    margin-bottom: 30px;

    &__title {
        text-align: center;
        font-family: $SVN_Reg;
        text-transform: uppercase;
        color: $black-2;
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__short-desc {
        font-family: $Roboto_Light;
        font-size: 14px;
        color: $black-2;
        text-align: center;
        margin-bottom: 30px;
    }

    &__items {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    &__item {
        display: inline-block;
        width: 150px;
        overflow: hidden;
        margin-right: 15px;
        vertical-align: top;

        a {
            display: block;
            background: #e9eef3;
            border-radius: 4px;
            padding: 15px 5px;
            text-align: center;
            -webkit-text-decoration: none;
            position: relative;
            z-index: 1;

            img {
                margin: 0 auto 15px;
                width: 80px;
            }
        }
    }

    &__name {
        font-family: $Roboto_Reg;
        font-size: 14px;
        color: $black-2;
        display: block;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        white-space: normal;
    }

    &__address {
        color: #888888;
        font-family: $Roboto_Reg;
        text-transform: uppercase;
        display: block;
        text-align: center;
        white-space: normal;
    }

    &__link {
        text-align: center;

        a {
            display: inline-block;
            color: $black;
            font-family: $Roboto_Bold;
            text-transform: uppercase;
            padding: 15px 20px;
            border: 1px solid #b2b2b2;
            border-radius: 3px;
        }
    }
}

.new-option {
    background: #f6f6f6;
    padding: 20px 0;
    margin-bottom: 20px;

    &--love {
        margin-bottom: 0;

        .slick-arrow {
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            z-index: 2;
            background: transparent;
            border: 0;
            margin: 0;
            padding: 0;
        }
    
        .slick-prev {
            left: 20px;
    
            &:before {
                content: "";
                background: url('../../public/images/arr.svg') no-repeat;
                width: 25px;
                height: 35px;
                display: inline-block;
            }
        }
    
        .slick-next {
            right: 20px;
    
            &:before {
                content: "";
                background: url('../../public/images/arr.svg') no-repeat;
                width: 25px;
                height: 35px;
                display: inline-block;
                transform: rotate(180deg);
            }
        }
    }

    &__title {
        font-family: $SVN_Reg;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        color: $black-2;
        margin-bottom: 20px;
    }

    &__items {
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 25px;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        
        &:last-child {
            margin-bottom: 0;
            
            .new-option__inner {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        a {
            display: block;
            border-radius: 3px;
        }
    }

    &__img {
        position: relative;
        padding-top: 75%;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 3px;
            position: absolute;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__item--new {
        &:before{
            content: "\e91b";
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            position: absolute;
            right: 15px;
            top: 10px;
            z-index: 2;
            color: $white;
            font-size: 25px;
        }

        &:after {
            content: "";
            position: absolute;
            right: -9px;
            top: -39px;
            z-index: 1;
            width: 0;
            height: 0;
            border-top: 60px solid transparent;
            border-left: 60px solid $blue-2;
            border-bottom: 60px solid transparent;
            transform: rotate(-45deg);
        }
    }

    &__inner {
        border-bottom: 1px solid #dedede;
        padding-bottom: 20px;
    }

    &__name {
        display: inline-block;
        font-family: $Roboto_Reg;
        font-size: 16px;
        color: $black-2;
        margin: 10px 0;
    }

    &__desc {
        color: #888888;
        font-family: $Roboto_Reg;
        margin-bottom: 30px;
        font-size: 13px;
    }

    &__prices {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__real-price {
        font-size: 15px;
        font-family: $Roboto_Reg;
        color: $black-2;
    }

    &__discount-price {
        color: #888888;
        font-family: $Roboto_Reg;
        font-size: 13px;
        display: inline-block;
        margin-right: 2px;
    }

    &__percent {
        color: $red;
        font-size: 13px;
        font-family: $Roboto_Reg;
    }

    &__link {
        text-align: center;
        
        a {
            color: $blue;
            font-size: 13px;
            font-family: $Roboto_Bold;
            text-transform: uppercase;

            i {
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .main-banner {
        margin-bottom: 70px;

        &__item {
            min-height: 590px;

            h2 {
                display: block;
                font-size: 35px;
                color: $black;
                margin: 90px 0 0 60px;
                max-width: 430px;
                font-weight: normal;
                margin-bottom: 30px;
            }

            a {
                display: inline-block;
                color: $white;
                background: $black;
                font-family: $SVN_Bold;
                text-transform: uppercase;
                padding: 15px 45px;
                border-radius: 3px;
                margin-left: 60px;
                font-size: 14px;
            }

            .slick-arrow {
                background: transparent;
                border: none;
                outline: none;
            }
        }

        &__items {
            .slick-dots {
                bottom: 50px;
            }
        }

        &__link {
            width: 40px;
            height: 40px;
            padding-top: 13px;

            img {
                width: 10px;
            }
        }
    }

    .partner {
        margin-bottom: 60px;

        &__title {
            font-size: 25px;
            margin-bottom: 20px;
        }

        &__short-desc {
            margin-bottom: 60px;
        }

        &__items {
            margin-bottom: 35px;
        }

        &__item {
            width: 220px;
            margin-right: 20px;

            a {
                padding: 30px 35px;
            }
        }

        &__address {
            font-size: 10px;
        }
    }

    .new-option {
        padding: 40px 0 70px;
        margin-bottom: 40px;

        &__inner {
            height: 100%;
        }

        &--love {
            padding-bottom: 0;
            margin-bottom: 0;

            .new-option__items {
                margin-bottom: 0;
            }
        }

        &__title {
            font-size: 28px;
            margin-bottom: 40px;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            width: 25%;
            padding: 0 10px;

            &:nth-child(n+9) {
                .new-option__inner {
                    border-bottom: 0;
                }
            }
        }

        &__item--new {
            &:before {
                font-size: 14px;
                right: 17px;
                top: 5px;
            }

            &:after {
                top: -20px;
                right: 6px;
                border-top: 30px solid transparent;
                border-left: 30px solid #3392cf;
                border-bottom: 30px solid transparent;
            }
        }
    }
}

@media only screen and (min-width:1200px){
    .main-banner {
        &__item {
            a:hover {
                background: $blue;
            } 
        }

        .slick-arrow {
            background: transparent;
            border: 0;
            outline: none;
        }

        .slick-dots {
            bottom: 70px;
        }

        &__link {
            width: 60px;
            height: 60px;
            font-size: 22px;
            padding-top: 20px;

            &:hover {
                background: $blue;
            }

            img {
                width: 12px;
            }
        }
    }

    .partner {
        &__items {
            overflow: visible;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__item {
            &:last-child {
                margin-right: 0;
            }
            
            img {
                opacity: .2;
                transition-duration: .2s;
            }

            a {
                border: 1px solid transparent;
                
                &:hover {
                    background: #f0f7fe;
                    border-color: #75c0ef;

                    img {
                        opacity: 1;
                    }
                }
            }
        }

        &__items--keep-scroll {
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            display: block;
        }

        &__link {
            a:hover {
                border-color: $blue-1;
                color: $blue;
            }
        }
    }

    .new-option {
        &__items {
            margin: 0 -10px;
        }

        &__item {
            width: 20%;

            &:nth-child(n+6) {
                .new-option__inner {
                    border-bottom: 0;
                }
            }
        }

        &__name {
            &:hover {
                color: #3392cf;
            }
        }

        &__link {
            a:hover {
                color: $black;
            }
        }
    }
}