@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1xrh3u');
  src:  url('../fonts/icomoon.eot?1xrh3u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1xrh3u') format('truetype'),
    url('../fonts/icomoon.woff?1xrh3u') format('woff'),
    url('../fonts/icomoon.svg?1xrh3u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle-regular:before {
  content: "\e94d";
}
.icon-old-car:before {
  content: "\e94a";
}
.icon-calendar:before {
  content: "\e948";
}
.icon-kilomet:before {
  content: "\e949";
}
.icon-position:before {
  content: "\e94b";
}
.icon-prices:before {
  content: "\e94c";
}
.icon-car-3:before {
  content: "\e947";
}
.icon-arrow-right .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.icon-arrow-right .path2:before {
  content: "\e90e";
  margin-left: -0.5166015625em;
  color: rgb(183, 183, 183);
}
.icon-arrow:before {
  content: "\e90f";
}
.icon-car-2:before {
  content: "\e910";
}
.icon-car:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-cloud:before {
  content: "\e913";
}
.icon-comment:before {
  content: "\e914";
}
.icon-fb:before {
  content: "\e915";
  color: #23cdb7;
}
.icon-fix:before {
  content: "\e916";
}
.icon-gg .path1:before {
  content: "\e917";
  color: rgb(251, 188, 5);
}
.icon-gg .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-gg .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-gg .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-gift:before {
  content: "\e91b";
}
.icon-google .path1:before {
  content: "\e91c";
  color: rgb(62, 130, 241);
}
.icon-google .path2:before {
  content: "\e91d";
  margin-left: -0.9931640625em;
  color: rgb(50, 167, 83);
}
.icon-google .path3:before {
  content: "\e91e";
  margin-left: -0.9931640625em;
  color: rgb(249, 187, 0);
}
.icon-google .path4:before {
  content: "\e91f";
  margin-left: -0.9931640625em;
  color: rgb(231, 65, 51);
}
.icon-payment-1:before {
  content: "\e920";
}
.icon-payment-2:before {
  content: "\e921";
}
.icon-payment-3:before {
  content: "\e922";
}
.icon-swing:before {
  content: "\e923";
}
.icon-thank .path1:before {
  content: "\e924";
  color: rgb(136, 136, 136);
}
.icon-thank .path2:before {
  content: "\e925";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path3:before {
  content: "\e926";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path4:before {
  content: "\e927";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path5:before {
  content: "\e928";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path6:before {
  content: "\e929";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path7:before {
  content: "\e92a";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path8:before {
  content: "\e92b";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path9:before {
  content: "\e92c";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path10:before {
  content: "\e92e";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path11:before {
  content: "\e934";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path12:before {
  content: "\e935";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path13:before {
  content: "\e936";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path14:before {
  content: "\e937";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path15:before {
  content: "\e938";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path16:before {
  content: "\e939";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path17:before {
  content: "\e93a";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path18:before {
  content: "\e93b";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path19:before {
  content: "\e93c";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path20:before {
  content: "\e93d";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path21:before {
  content: "\e93e";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path22:before {
  content: "\e93f";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path23:before {
  content: "\e940";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path24:before {
  content: "\e941";
  margin-left: -1.04296875em;
  color: rgb(136, 136, 136);
}
.icon-thank .path25:before {
  content: "\e943";
  margin-left: -1.04296875em;
  color: rgb(51, 146, 207);
}
.icon-user1:before {
  content: "\e944";
}
.icon-youtube:before {
  content: "\e945";
  color: #ed3e7a;
}
.icon-zalo:before {
  content: "\e946";
}
.icon-facebook-f-brands:before {
  content: "\e900";
}
.icon-uniE903:before {
  content: "\e903";
}
.icon-icon-lock:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e92d";
}
.icon-chevron-down-solid:before {
  content: "\e92f";
}
.icon-plus-solid:before {
  content: "\e930";
}
.icon-home-solid:before {
  content: "\e931";
}
.icon-chevron-left-solid:before {
  content: "\e932";
}
.icon-chevron-right-solid:before {
  content: "\e933";
}
.icon-phone:before {
  content: "\e942";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-BaoTri:before {
  content: "\e901";
}
.icon-CongDong:before {
  content: "\e902";
}
.icon-contact:before {
  content: "\e905";
}
.icon-DaiLy:before {
  content: "\e906";
}
.icon-DanhSach:before {
  content: "\e907";
}
.icon-DichVu:before {
  content: "\e908";
}
.icon-DoiMatKhau:before {
  content: "\e909";
}
.icon-KhachDatXe:before {
  content: "\e90a";
}
.icon-OrderHistory:before {
  content: "\e90b";
}
.icon-XeHoi:before {
  content: "\e90c";
}
