.contact {
    &__form {
        margin-bottom: 30px;
    }

    &__text {
        font-size: 14px;
        font-family: $Roboto_Light;
        color: $black-2;
        display: inline-block;
        margin-bottom: 30px;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 11px 15px;
        font-size: 14px;
        color: $black;
        font-family: $Roboto_Light;
        margin-bottom: 20px;
        border-radius: 3px;
        border: 1px solid #e5e5e5;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $black-2;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $black-2;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $black-2;
        }
    }

    &__btn {
        color: $white;
        background: $black;
        padding: 10px 30px;
        text-transform: uppercase;
        font-family: $Roboto_Bold;
        font-size: 14px;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        border: none;

        &:hover {
            background: $blue;
        }
    }
}

.category-content-top__select {
    margin-bottom: 20px;

    &:after {
        top: 11px;
    }

    select {
        padding: 11px 15px;
    }
}

@media screen and (min-width: 768px) {
    .contact {
        &__form {
            max-width: 450px;
        }
    }
}