.old-cars-search {
    &__input {
        border: 1px solid #e5e5e5;
        font-family: $Roboto_Light;
        font-size: 13px;
        color: $black-2;
        padding: 10px 15px;
        margin-bottom: 10px;
        width: 100%;
    }

    &__text {
        margin-bottom: 10px;
        font-size: 13px;
        font-family: $Roboto_Light;
    }

    .category-content-top__select {
        width: 60%;
        display: inline-block;
        margin-right: 10px;
    }

    &__btn {
        margin: 0;
        padding: 0;
        color: $white;
        background: $black-2;
        border-radius: 3px;
        display: inline-block;
        padding: 12px 15px;
        text-align: center;
        border: 0;
        width: 35%;
        font-size: 14px;
        font-family: $Roboto_Bold;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.old-cars {
    &-sort {
        display: none;
    }

    &__items {
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;

            .old-cars__inner {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
        
        &:first-child {
            border-bottom: 0;

            a {
                background: #f6f6f6;
                color: $gray-1;
                display: block;
                text-align: center;
                padding: 35px 0;
                height: 100%;

                i {
                    font-size: 20px;
                    display: inline-block;
                }
            }
        }
    }

    &__inner {
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }

    &__img {
        display: block;
        position: relative;
        padding-bottom: 75%;
        margin-bottom: 10px;

        img {
            width: 100%;
            border-radius: 3px;
            position: absolute;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__name {
        font-family: $Roboto-Reg;
        font-size: 16px;
        color: $black-2;
        display: inline-block;
        margin-bottom: 15px;
    }

    &__infos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        width: 50%;
        margin-bottom: 10px;

        i {
            font-size: 13px;
            color: $gray-1;
        }
    }

    &__text {
        font-size: 13px;
        font-family: $Roboto-Reg;
        color: $gray-1;
        display: inline-block;
        margin-left: 5px;
    }
}

.old-cars-add-form {
    margin-bottom: 40px;

    &__input {
        border: 1px solid #e5e5e5;
        font-size: 14px;
        font-family: $Roboto_Light;
        color: $black-2;
        padding: 13px 15px;
        border-radius: 3px;
        margin-bottom: 20px;
        width: 100%;
    }

    &__upload {
        position: relative;
        overflow: hidden;
        display: block;
    }

    &__upload-btn {
        border: 1px solid #b2b2b2;
        border-radius: 3px;
        background: $white;
        font-size: 14px;
        font-family: $Roboto_Bold;
        color: $black-2;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        text-transform: uppercase;
    }

    &__upload-file {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
    }

    &__items {
        overflow-x: auto;
        white-space: nowrap;
        margin: 20px 0;
    }

    &__item {
        overflow: hidden;
        display: inline-block;
        width: 220px;
        padding: 0 10px;
        vertical-align: top;

        img {
            border-radius: 3px;
        }
    }

    &__button {
        display: block;
        width: 100%;
        color: $white;
        background: $black-2;
        border-radius: 3px;
        font-family: $Roboto_Bold;
        text-transform: uppercase;
        padding: 15px 0;
        text-align: center;
        font-size: 14px;
        border: 1px solid $black-2;
    }
}

.old-cars-add-infors {
    &__title {
        font-size: 14px;
        text-transform: uppercase;
        font-family: $SVN_Bold;
        color: $black-2;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__text {
        display: inline-block;
        color: $gray-1;
        font-size: 13px;
        width: 90px;
        font-family: $Roboto-Reg;
    }

    &__result {
        display: inline-block;
        color: $black-2;
        font-size: 13px;
        font-family: $Roboto-Reg;
    }

    &__link {
        display: block;
        width: 100%;
        border: 1px solid #b2b2b2;
        color: $black-2;
        font-size: 14px;
        font-family: $Roboto_Bold;
        text-transform: uppercase;
        padding: 15px 0;
        text-align: center;
        border-radius: 3px;
    }
}

@media screen and (min-width: 768px) {
    .old-cars {
        &__top {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__items {
            margin: 0 -10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            width: 33%;
            padding: 0 10px;

            &:first-child {
                a {
                    position: relative;

                    i {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 40px;
                    }
                }
            }

            &:last-child {
                .old-cars__inner {
                    border-bottom: 1px solid #e5e5e5;
                    padding-bottom: 15px;
                }
            }
        }

        &__name {
            font-size: 16px;
        }
    }

    .old-cars-sort {
        display: block;

        &__text {
            margin-bottom: 10px;
            font-size: 13px;
            font-family: $Roboto-Reg;
            color: $black-2;
        }

        .category-content-top__select {
            width: 130px;
        }
    }

    .old-cars-search {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        &__text {
            margin: 0 15px 0 0;
        }

        &__input {
            width: 150px;
            margin-right: 10px;
            margin-bottom: 0;
        }

        .category-content-top__select {
            width: 150px;
            margin-bottom: 0;
        }

        &__btn {
            width: 100px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .old-cars-sort {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;

        &__text {
            margin: 0 10px 0 0;
        }

        .category-content-top__select {
            margin-bottom: 0;

            select {
                padding: 14px 15px;
            }

            &:after {
                top: 15px;
            }
        }
    }

    .old-cars-search {
        &__input,
        .category-content-top__select {
            width: 220px;
            margin-right: 20px;
        }

        &__btn:hover {
            background: $blue;
        }

        &__input {
            padding: 14px 15px;
        }

        .category-content-top__select {
            select {
                padding: 14px 15px;
            }

            &:after {
                top: 15px;
            }
        }

        &__btn {
            padding: 14px 15px;
        }
    }

    .old-cars {
        &__top {
            margin-bottom: 35px;
            padding-left: 152px;
        }

        &__item {
            width: 20%;
        }

        &__name:hover {
            color: $blue;
        }
    }

    .old-cars-add {
        display: flex;
        flex-wrap: nowrap;
    }

    .old-cars-add-form {
        width: 60%;
        padding: 0 40px 0 17%;
        margin-bottom: 0;

        &__button {
            width: auto;
            padding: 12px 25px;
            margin: 0 auto;
            cursor: pointer;

            &:hover {
                color: $black-2;
                background: $white;
            }
        }

        &__upload-btn {
            width: auto;
            padding: 12px 25px;
        }

        &__upload {
            cursor: pointer;

            &:hover {
                .old-cars-add-form__upload-btn {
                    border-color: $blue;
                    color: $blue;
                }
            }
        }

        &__items {
            overflow-x: visible;
            display: flex;
            flex-wrap: wrap;
            margin: 20px -10px;
        }

        &__item {
            width: 120px;
        }
    }

    .old-cars-add-infors {
        &__link {
            margin: 20px 0 0;
            width: auto;
            display: inline-block;
            padding: 12px 25px;

            &:hover {
                color: $blue;
                border-color: $blue;
            }
        }
    }
}