.order-history-search {
    margin-bottom: 25px;

    &__title {
        font-family: $Roboto_Light;
        color: $black-1;
        display: block;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__input {
        width: 49%;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 15px;
        font-size: 13px;
    }

    &__date {
        width: 49%;
    }

    &__input-date {
        width: 100%;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 15px;
        font-size: 13px;
    }

    &__bottom {
        width: 100%;
        margin-top: 15px;
    }

    &__btn {
        width: 100%;
        color: $white;
        background: $black-1;
        font-family: $Roboto_Bold;
        font-size: 14px;
        text-transform: uppercase;
        padding: 12px 0;
        border-radius: 3px;
    }
}

.order-history-list {
    border: 1px solid #e5e5e5;

    &__item {
        &:last-child {
            .order-history-list__top {
                border-bottom: 0;
            }
        }
    }

    &__item--active {
        background: #e9eef3;

        .order-history-list__content {
            display: block;
        }
    }

    &__item--cancle {
        .order-history-list__top {
            span:last-child {
                color: $red;
            }
        }
    }

    &__top-title {
        background: #f6f6f6;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;

        span {
            color: $black-1;
            display: block;
            padding: 15px 0;
            width: 33.33%;
            border-right: 1px solid #e5e5e5;
            align-self: center;
            text-align: center;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &__top {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;

        span {
            color: $gray-1;
            display: block;
            padding: 15px 0;
            width: 33.33%;
            border-right: 1px solid #e5e5e5;
            align-self: center;
            text-align: center;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &__content {
        background: #f6f6f6;
        padding: 25px 15px 15px;
        border-bottom: 1px solid #e5e5e5;
        display: none;
    }

    &__persons {
        margin-bottom: 30px;
    }

    &__person {
        margin-bottom: 10px;

        span {
            font-size: 14px;
            color: $gray-1;
            display: inline-block;
        }

        b {
            font-family: $Roboto_Medium;
            font-size: 14px;
            color: $black-2;
        }
    }

    &__sub {
        margin-bottom: 15px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__img {
        width: 100px;
        display: inline-block;
        border-radius: 3px;
        margin-right: 10px;
    }

    &__name {
        display: inline-block;
        width: 110px;
        color: $black-2;
        font-size: 14px;
    }

    &__qty {
        font-family: $Roboto_Light;
        display: inline-block;
    }

    &__prices {
        display: inline-block;
        color: $black-2;
    }

    &__total {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-top: 1px solid #e5e5e5;
        padding-top: 15px;

        span {
            display: inline-block;
            color: $black-2;
        }

        b {
            font-family: $Roboto_Bold;
            color: $black-2;
        }
    }
}

.order-history-right {
    display: none;
}

@media screen and (min-width: 768px) {
    .order-history-search {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 35px;

        &__title {
            display: inline-block;
            margin: 0 20px 0 0;
            align-self: center;
        }

        &__form {
            justify-content: normal;
            flex-wrap: nowrap;
        }

        &__input,
        &__input-date {
            width: 130px;
            margin-right: 10px;
        }

        &__date {
            width: auto;
        }

        &__bottom {
            width: 100px;
            margin: 0;
        }

        &__btn {
            padding: 14px 0;
        }
    }

    .order-history-list {
        width: 360px;
        display: inline-block;
        vertical-align: top;

        &__content {
            display: none !important;
        }

        &__item--active {
            position: relative;
            
            &:before {
                content: "";
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #e9eef3;
                z-index: 2;
            }
    
            &:after {
                content: "";
                position: absolute;
                right: -12px;
                top: 50%;
                transform: translateY(-50%);
                width: 0; 
                height: 0; 
                border-top: 11px solid transparent;
                border-bottom: 11px solid transparent;
                border-left: 11px solid #e5e5e5;
                z-index: 1;
            }
        }
    }

    .order-history-right {
        width: 340px;
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid #e7e7e7;
        display: none;

        &--active {
            display: block;
        }

        &__user {
            background: #f6f6f6;
            padding: 20px 10px;
            border-bottom: 1px solid #e7e7e7;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            span {
                color: $gray-1;
                display: inline-block;
                font-size: 13px;
            }

            b {
                font-family: $Roboto_Bold;
                color: $black-2;
            }
        }

        &__payment {
            padding: 20px 10px;
            border-bottom: 1px solid #e7e7e7;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            span {
                color: $gray-1;
                display: inline-block;
                font-size: 13px;
            }

            b {
                font-family: $Roboto_Bold;
                color: $black-2;
            }
        }

        &__item {
            display: flex;
            flex-wrap: nowrap;
            border-bottom: 1px solid #e7e7e7;
            padding: 20px 10px;
        }

        &__img {
            display: inline-block;
            width: 80px;
            margin-right: 20px;
            
            img {
                border-radius: 3px;
            }
        }

        &__name {
            font-family: $Roboto_Bold;
            color: $black-2;
            display: inline-block;
            margin-bottom: 5px;
        }

        &__content {
            p {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__qty,
        &__price,
        span {
            color: $gray-1;
        }

        &__prices {
            color: $black-2 !important;
        }

        &__total {
            background: #f6f6f6;
            padding: 15px 20px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            span {
                color: $gray-1;
            }

            b {
                font-family: $Roboto_Bold;
            }
        }
    }

    .order-history__inner {
        position: relative;
    }
}

@media screen and (min-width: 1200px) {
    .order-history {
        max-width: 950px;
        margin: 0 auto;
    }

    .order-history-search {
        &__btn{
            cursor: pointer;

            &:hover {
                background: $blue;
            }
        }
    }

    .order-history-list {
        width: 460px;

        &__top-title {
            span {
                padding: 20px 0;

                &:last-child {
                    width: 50%;
                }
            }
        }

        &__top {
            span {
                padding: 20px 0;

                &:last-child {
                    width: 50%;
                }
            }
        }

        &__item {
            cursor: pointer;

            &:hover {
                background: #e9eef3;
            }
        }
    }

    .order-history-right {
        width: 460px;

        &__item {
            padding: 20px;
        }

        &__user,
        &__payment {
            padding: 20px;

            span {
                font-size: 14px;
            }
        }

        &__img {
            width: 100px;
        }

        &__content {
            width: calc(100% - 120px);

            p {
                margin-bottom: 10px;
            }
        }

        &__name {
            margin-bottom: 10px;
        }
    }
}