.thank-main {
    margin-bottom: 50px;

    &__img {
        width: 110px;
        text-align: center;
        margin: 0 auto 20px;
    }

    &__title {
        color: $black-2;
        font-size: 18px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    &__desc {
        font-family: $Roboto_Light;
        color: $black-2;
        margin-bottom: 20px;
    }

    &__link {
        font-family: $Roboto_Bold;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        border: 1px solid #b2b2b2;
        border-radius: 3px;
        padding: 15px 30px;
        color: $black-2;
    }
}

@media screen and (min-width: 768px) {
    .thank-main {
        display: flex;
        flex-wrap: nowrap;
        width: 620px;
        margin: 0 auto 50px;

        &__img {
            margin-right: 50px;
        }

        &__link:hover {
            border-color: $blue;
            color: $blue;
        }
    }
}

@media screen and (min-width: 1200px) {
    .thank-main {
        margin-bottom: 300px;
    }
}