
.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

$white: #ffffff;
$black: #000000;
$black-1: #181818;
$black-2: #1a1a1a;
$gray: #f6f6f6;
$gray-1: #888888;
$blue: #2988c4;
$blue-1: #75c0ef;
$blue-2: #3392cf;
$red: #ff0000;

$SVN_Bold_Ita: 'SVN-Bold-Ita';
$SVN_Bold: 'SVN-Bold';
$SVN_Ita: 'SVN-Ita';
$SVN_Reg: 'SVN-Reg';
$Roboto_Black: 'Roboto-Black';
$Roboto_Black_Ita: 'Roboto-Black-Ita';
$Roboto_Bold: 'Roboto-Bold';
$Roboto_Bold_Ita: 'Roboto-Bold-Ita';
$Roboto_Ita: 'Roboto-Ita';
$Roboto_Light: 'Roboto-Light';
$Roboto_Light_Ita: 'Roboto-Light-Ita';
$Roboto_Medium: 'Roboto-Medium';
$Roboto_Medium_Ita: 'Roboto-Medium-Ita';
$Roboto_Reg: 'Roboto-Reg';
$Roboto_Thin_Ita: 'Roboto-Thin';
$Roboto_Thin_Ita: 'Roboto-Thin';
